
{% extends "styles.html" %}
{% block content %}
<header id="head" class="primary"></header>

	<!-- container -->
	<div class="container">
		<div class="row">
			<!-- Article main content -->
			<article class="col-sm-12 maincontent">
				<h2 class="page-title">A bit about me</h2>
				<p>Hello and thank you for visiting my site!</p>
				<br />
				<h2 class="page-title">A bit about this website</h2>
				<p>I built this site primarily as a showcase for my personal projects</p>
			</article>
		</div>
	</div>	<!-- /container -->

	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

{% endblock %}