
{% extends "styles.html" %}
{% block content %}
<header id="head" class="primary"></header>
	<!-- container -->
	<div class="container">
		<div class="row">
			<!-- Article main content -->
			<article class="col-sm-12 maincontent">
				<h2 class="page-title">A bit about me</h2>
				<p>Hello and thank you for visiting my site!</p>
				<br />
				<p>My name's James, and... </p>
				<br />
				<h2 class="page-title">A bit about this website</h2>
				<p>I built this site mostly because I wanted to learn more about how the internet and sites within it
					actually work. It also served as a nice excuse to write up some of the projects
					I've been working on outside of work, as I have a tendency to move on to the next thing quickly
					without spending much time reflecting on what I've just done. </p>
			</article>
		</div>
	</div>	<!-- /container -->
{% endblock %}