<!DOCTYPE html>

<html lang="en">

{% include "styles.html" %}

	<header id="head" class="tertiary"></header>
	<header id="head" class="tertiary"></header>
	<header id="head" class="tertiary"></header>

	<!-- container -->
	<div class="container">
		<div class="row">
			<!-- Article main content -->
			<article class="col-sm-12 maincontent">
				<header class="page-header">
					<h1 class="page-title">A bit about me</h1>
				</header>
				<p>Hello and thank you for visiting my site!</p>

				<header class="page-header">
					<h1 class="page-title">A bit about this website</h1>
				</header>
				<p>I built this site primarily as a showcase for my personal projects</p>
			</article>
		</div>
	</div>	<!-- /container -->

	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

</body></html>