
{% extends "styles.html" %}
{% block content %}
<header id="head" class="secondary"></header>
<header id="head" class="secondary"></header>

    <form action="{% block form_action %}{{ url_for('create') }}{% endblock %}" class="form-horizontal" method="post">
        <div class="form-group">
          <label for="image" class="col-sm-2 control-label">Image</label>
          <div class="col-sm-8">
            <input class="form-control" id="image" name="image" type="text" value="{{ entry.image }}">
          </div>
        </div>
        <div class="form-group">
          <label for="description" class="col-sm-2 control-label">Description</label>
          <div class="col-sm-8">
            <input class="form-control" id="description" name="description" type="text" value="{{ entry.description }}">
          </div>
        </div>
        <div class="form-group">
          <label for="tech_logos" class="col-sm-2 control-label">Tech Logos</label>
          <div class="col-sm-8">
            <input class="form-control" id="tech_logos" name="tech_logos" type="text" value="{{ entry.tech_logos }}">
          </div>
        </div>
        <div class="form-group">
          <label for="title" class="col-sm-2 control-label">Title</label>
          <div class="col-sm-8">
            <input class="form-control" id="title" name="title" type="text" value="{{ entry.title }}">
          </div>
        </div>
        <div class="form-group">
          <label for="Content" class="col-sm-2 control-label">Content</label>
          <div class="col-sm-8">
            <textarea class="form-control" id="content" name="content" style="height: 200px;">{{ entry.content }}</textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <label>
                <input name="published" type="checkbox" value="y"{% if entry.published %} checked="checked"{% endif %}> Publish?
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary" type="submit">{% block save_button %}Create{% endblock %}</button>
            <a class="btn btn-default" href="{{ url_for('home') }}">Cancel</a>
          </div>
        </div>
        {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="alert alert-{{ category }} alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <p>{{ message }}</p>
        </div>
        {% endfor %}
      </form>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

{% endblock %}