
{% extends "styles.html" %}

{% block content %}

<header id="head" class="secondary"></header>

<div class="container" style="width: 70%">
  <div class="row">
      <div class="col">
          <h1 class="headline text-center">{{ entry.title }}</h1>
          <hr>
          <p class="maincontent">{{ entry.html_content }}
          <p class="subcontent text-muted"> Created {{ entry.timestamp.strftime('%m/%d/%Y at %G:%I%p') }}</p>
      </div>
      <div class="col"></div>
  </div>
</div>
{% endblock %}