
{% extends "styles.html" %}
{% block content %}
<header id="head" class="secondary"></header>

	<!-- Header -->
		<div class="container text-center">
			<div class="row">
				<h1 class="headline">Welcome!</h1>
				<p class="introduction">Thanks for visiting my (very!) simple website - hopefully this gives you a taste of the sort of things I get up to!
            </div>
		</div>

	<!-- /Header -->

	<!-- Intro -->
	<div class="container text-center bg-dark">
		<h2 class="thin">My Projects</h2>
		<hr style="width:100%">
	</div>

	<!-- Carousel-->

	<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">

	  <!-- Wrapper for slides -->
	<div class="container-fluid">
	  <div class="carousel-inner">
			<div class="item active">
				<div class="row">
					<div class="col-xs-4">
						<div style="height: 265px; overflow: hidden; border: 1px solid LightGray">
							<img src="/static/images/projects/website/website.png" class="img-fluid" alt="Sample project image" usemap="#websitemap">
							<map name="websitemap">
								<area shape="default" href="/creating-this-website">
							</map>
						</div>
						<h4 style="text-align:center"><strong>Creating This Website</strong></h4>
						<hr>
						<div style="height: 40px; text-align: center">
							<img src="/static/images/logos/python.png" class="img-fluid" alt="Sample project image", height="30px">
							<img src="/static/images/logos/html.png" class="img-fluid" alt="Sample project image", height="40px">
						</div>
					</div>
					<div class="col-xs-4">
						<div style="height: 265px; overflow: hidden; border: 1px solid LightGray">
							<img src="/static/images/projects/thesis.png" class="img-fluid" alt="Sample project image" usemap="#thesismap">
							<map name="thesismap">
								<area shape="default" href="/thesis">
							</map>
						</div>
						<h4 style="text-align:center"><strong>Using Data to Identify Structural Damage</strong></h4>
						<hr>
						<div style="height: 40px; text-align: center">
							<img src="/static/images/logos/matlab.png" class="img-fluid" alt="Sample project image", height="25px">
							<img src="/static/images/logos/latex.png" class="img-fluid" alt="Sample project image", height="25px">
						</div>
					</div>
					<div class="col-xs-4">
						<div style="height: 265px; overflow: hidden; border: 1px solid LightGray">
							<img src="/static/images/projects/ball/ball.jpg" class="img-fluid" alt="Sample project image" usemap="#ballmap">
							<map name="ballmap">
								<area shape="default" href="/new-college-ball">
							</map>
						</div>
						<h4 style="text-align:center"><strong>Creating New College Commemoration Ball</strong></h4>
						<hr>
						<div style="height: 40px; text-align: center">
							<img src="/static/images/logos/excel.png" class="img-fluid" alt="Sample project image", height="40px">
						</div>
					</div>
				</div>
			</div>
		  	<div class="item">
				<div class="row">
					<div class="col-xs-4">
						<div style="height: 265px; overflow: hidden; border: 1px solid LightGray">
							<img src="/static/images/projects/finance_training.png" class="img-fluid" alt="Sample project image">
						</div>
						<h4 style="text-align:center"><strong>Creating Corporate Finance Training</strong></h4>
						<hr>
						<div style="height: 40px; text-align: center">
							<img src="/static/images/logos/excel.png" class="img-fluid" alt="Sample project image", height="40px">
							<img src="/static/images/logos/powerpoint.png" class="img-fluid" alt="Sample project image", height="40px">
						</div>
					</div>
					<div class="col-xs-4">
						<div style="height: 265px; overflow: hidden; border: 1px solid LightGray">
							<img src="/static/images/projects/coming_soon.png" class="img-fluid" alt="Sample project image">
						</div>
					</div>
					<div class="col-xs-4">
						<div style="height: 265px; overflow: hidden; border: 1px solid LightGray">
							<img src="/static/images/projects/coming_soon.png" class="img-fluid" alt="Sample project image">
						</div>
					</div>
				</div>
			</div>
	  </div>
	</div>

  <!-- Left and right controls -->

		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev" style="background: none">
			<br><br><br><br>
			<span class="fas fa-chevron-circle-left fa-3x" style="color: black" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next" style="background: none">
			<br><br><br><br>
			<span class="fas fa-chevron-circle-right fa-3x" style="color: black" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
	</div>
{% endblock %}