
{% extends "styles.html" %}
{% block content %}
<header id="head" class="primary"></header>

<!-- container -->
	<div class="container">
		<div class="row">
			<!-- Article main content -->
			<article class="col-xs-12 maincontent">
				<header class="page-header">
					<h1 class="page-title">Log out</h1>
                    <p class="text-left text-muted">Click the button below to log out of the site.</p>
				</header>

              <form action="{{ url_for('logout') }}" class="form-horizontal" method="post">
                <button class="btn btn-primary" type="submit">Log out</button>
              </form>
			</article>
			<!-- /Article -->
		</div>

		<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

{% endblock %}