
{% extends "styles.html" %}
{% block content %}
<header id="head" class="secondary"></header>
<header id="head" class="secondary"></header>

			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-4">
						<img src="https://mdbootstrap.com/img/Photos/Others/images/88.jpg" class="img-fluid" alt="Sample project image">
					</div>
					<div class="col-xs-4">
						<img src="https://mdbootstrap.com/img/Photos/Others/images/88.jpg" class="img-fluid" alt="Sample project image">
					</div>
					<div class="col-xs-4">
						<img src="https://mdbootstrap.com/img/Photos/Others/images/88.jpg" class="img-fluid" alt="Sample project image">
					</div>
				</div>
			</div>
		<header id="head" class="tertiary"></header>
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-4">
						<img src="https://mdbootstrap.com/img/Photos/Others/images/88.jpg" class="img-fluid" alt="Sample project image">
					</div>
					<div class="col-xs-4">
						<img src="https://mdbootstrap.com/img/Photos/Others/images/88.jpg" class="img-fluid" alt="Sample project image">
					</div>
					<div class="col-xs-4">
						<img src="https://mdbootstrap.com/img/Photos/Others/images/88.jpg" class="img-fluid" alt="Sample project image">
					</div>
				</div>
			</div>


	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

{% endblock %}